.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 1.5em;
  float: left;
  margin-bottom: 0.2em;
  margin-right: 0.5em;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  width: 80%;
  margin: auto;
  padding-top: 20px;
  font-size: large;
}

.info-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 3em;
  text-align: center;
}

.card > img {
  height: 15em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p.loading,
p.error {
  margin: 2em auto;
  text-align: center;
}

p.error {
  color: red;
}

.search {
  padding: 5px 0 20px 0;
}

div.new-booking .page-header {
  border-bottom: 3px solid #eee;
  margin-bottom: 10px;
}

div.new-booking #form-1 {
  padding: 10px 0 10px 0;
}

div.customer-info,
div.hotel-info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

button[id="New Booking"] {
  width: 12%;
}

select[id="Title"] {
  width: 8%;
}

input[id="First Name"],
input[id="Surname"] {
  width: 24%;
}

input[id="Email"] {
  width: 36%;
}

div.hotel-info {
  width: 55%;
}

input[id="Room number"] {
  width: 15%;
}

input[id="Checkin date"],
input[id="Checkout date"] {
  width: 30%;
}

button[id="Book"] {
  width: 10%;
}

tr {
  color: #5b5757;
}

tr.selected {
  background-color: deepskyblue;
}

td:first-child {
  display: table-cell;
  font-weight: bold;
}

.results {
  padding-top: 15px;
}

.card {
  width: 18rem;
}

.table {
  text-align: center;
}

div.orders {
  width: 80%;
  margin: auto;
}

div.orders h3 {
  padding: 20px 0 10px 0;
  border-bottom: 3px solid #eee;
}

div.orders ul {
  list-style-type: none;
  margin: 0em;
  padding: 0em;
}

div.orders ul li {
  width: 40%;
  margin: 0.25em 0;
  padding: 0.3em;
}

div.orders ul li span {
  margin-right: 0.6rem;
  font-weight: 600;
}

div.orders ul li button {
  margin-right: 0.3rem;
}

div.profile {
  padding: 20px 0 10px 0;
}

div.profile .page-header {
  border-bottom: 3px solid #eee;
}

div.profile .profile-details {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  padding: 0 20px;
}

/* FOOTER STYLES */
.footer {
  padding-top: 20px;
  text-align: center;
  list-style-type: none;
}
